name: Build and Push Docker Image

on:
  push:
    branches: [ main ] 

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: . 
          push: true
          # هذا هو اسم الصورة الكامل الذي ظهر في Docker Hub
          tags: vandire/firing-wheel:latest
          file: ./Dockerfile
